<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manufacturer Login</title>
</head>
<body>

    <pre>
        <center> 
            <h2> Manufacturer Portal (Add Product)</h2>
            <br>
            <form name = 'login-form' method = 'POST'>
                Enter product id:       <input type = 'text' name = 'id' required>
                Enter product name:     <input type = 'text' name = 'name' required>
                Enter product price:    <input type = 'text' name = 'price' required>
                Enter manufacturer_id:  <input type = 'text' name = 'manufacturer_id' required>
                <br>
                <input type = 'submit' value = 'Add Product!'>
            </form>
        </center>
    </pre>
    
</body>
</html>