<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dealer Login</title>
</head>
<body>

    <pre>
        <center> 
            <h2> Dealer Login Portal</h2>
            <br>
            <form name = 'login-form' method = 'POST'>
                Enter username: <input type = 'text' name = 'username' required>
                Enter password: <input type = 'password' name = 'password' required>
                <br>
                <input type = 'submit' value = 'Login!'>
            </form>
        </center>
    </pre>
    
</body>
</html>